* {
  box-sizing: border-box;
    margin: none;
    padding: none;
    width: auto;
    height: auto;
}

.container {
    margin-top: 20px;
    width: 100%;
}

.form-container {
    width: 100%;
}

.modal-content {
    width: 100%;
}

/* Create two equal columns that floats next to each other */
.column1 {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 70%;
  padding: 10px;
  height: auto;

}

.column2 {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 30%;
  padding: 10px;
  height: auto;

}


/* Clear floats after the columns */
.modal-content {
  content: "";
  display: table;
  clear: both;
}

.row-1 {
  content: "";
  display: table;
  clear: both;
}

.col-md-6 {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto;
}

.card-title {
  margin: 10px 0px;
}

#product_search {
  margin-bottom: 15px;
}

.col-content-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  

}


.card-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  height: auto;
}



.card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  height: auto;
}

.card-body-1 {
  display: content;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 1px rgb(198, 198, 198);
  height: auto;
  padding: 10px;
  border-radius: 10px;
}

.card-body-2 {
  display: content;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  border: solid 1px rgb(198, 198, 198);
  height: auto;
}

